* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #D5F8EC;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 1.25em;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.header-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.header-navigation ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

}

.header-navigation li {
    font-size: 1.5em;
    color: black;
    padding: 0.2em;
    margin-bottom: 0.5em;
    list-style-type: none;
    border: 0.1em solid gray;
    border-radius: 0.2em;
}

.header-navigation a {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

.header-user-lable {
    font-size: 1.5em;
}

.header-userPage-link {
    padding: 0.2em;
    border: 0.1em solid gray;
    border-radius: 0.2em;
}

.advert-card {
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.1em solid gray;
}

.adverts-list a {
    text-decoration: none;
}

.search-form {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    margin-bottom: 10px;

}

.search-form input{
    background-color: #D5F8EC;
    width: 100%;
}

.btn{
    background-color: #EAF8F3;
    font-size: 1em;
}

.sort-select{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.sort-select label{
    font-size: 1em;
}

.sort-select select{
    font-size: 1em;
    background-color: #EAF8F3;
}

.user-card{
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.1em solid gray;
}

.user-form{

}

.user-form input{
    background-color: #D5F8EC;
}


.user-form label{
    max-width: 80px;
}