* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #D5F8EC;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 1.25em;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-page-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 18.75em;
    height: 12.5em;
    padding: 1.5em;
    border: 0.1em solid black;
    margin-bottom: 1.25em;

    order: 1;
}

.start-page-link {
    font-size: 1.5em;

    text-decoration: none;
}

.login-section {
    width: 18.75em;

    order: 2;
}

.login-section h2 {
    margin-bottom:  0.417em;
}

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-form-labels {
    display: flex;
    flex-direction: column;
    margin-right: 1.25em;
}

.login-form-labels label {
    display: flex;
    align-items: center;
    height: 1.4423em;
    margin-bottom: 0.2403em;

    font-size: 1.3em;

}

.login-form-inputs input {
    width: 100%;
    height: 1.875em;
    border-radius: 0.3125em;
    margin-bottom: 0.3125em;

    background-color: #D5F8EC;

    font-size: 1em;
}

.create-advert-section h2 {
    margin-bottom: 0.4166em;
}

.create-user-section {
    width: 18.75em;
    order: 2;
}

.create-user-section h2 {
    margin-bottom: 0.4166em;
}

.basic-form div {
    display: flex;
    flex-direction: column;
}

.basic-form label {
    margin-bottom: 0.096em;

    font-size: 1.3em;
}

.basic-form input {
    height: 1.875em;
    border-radius: 0.3125em;
    margin-bottom: 0.3125em;

    background-color: #D5F8EC;

    font-size: 1em;

}

.basic-form textarea {
    border: 0.0625em solid black;
    border-radius: 0.3125em;
    margin-bottom: 0.3125em;

    background-color: #D5F8EC;

    font-size: 1em;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.1em solid black;
    margin-bottom: 1.25em;
}

.header-title {
    margin-bottom: 0.5em;

    font-size: 2em;
    font-weight: bold;
}

.header-navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}

.header-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.625em;
}

.header-navigation li {
    padding: 0.2em;
    border: 0.1em solid gray;
    border-radius: 0.2em;
    margin-bottom: 0.5em;

    color: black;

    font-size: 1.5em;

    list-style-type: none;
}

.header-navigation a {
    margin-bottom: 0.625em;

    color: black;

    text-decoration: none;
}

.header-user-label {
    font-size: 1.5em;
}

.header-userPage-link {
    padding: 0.2em;
    border: 0.1em solid gray;
    border-radius: 0.2em;
}

.user-adverts-section {
}

.user-adverts-section h2 {
    margin-bottom: 0.417em;
}

.sort-select {
    margin-bottom: 0.625em;
}

.sort-select label {
    font-size: 1em;
}

.sort-select select {
    border-radius: 0.3125em;
    background-color: #EAF8F3;

    font-size: 1em;
}

.advert-card {
    width: 18.75em;
    padding: 1.25em;
    border: 0.1em solid gray;
    margin-bottom: 1.25em;

    color: black;

}

.advert-card * {
    margin-bottom: 0.625em;
    word-break: break-all;
}

.adverts-list a {
    text-decoration: none;
}

.search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625em;
}

.search-form label {
    margin-bottom: 0.417em;

    font-size: 1.5em;
}

.search-form-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.625em;
}

.search-form input {
    padding: 0.625em;
    background-color: #D5F8EC;
    width: 100%;
}

.delete-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-msg h2 {
    margin-bottom: 0.417em;
}

.edit-remove-btns {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0.3125em;
    border: 0.125em solid black;
    border-radius: 0.1875em;

    background-color: #EAF8F3;

    font-size: 1em;

    cursor: pointer;
}

.user-card {
    padding: 1.25em;
    border: 0.1em solid gray;
    margin-bottom: 1.25em;

    color: black;
}

.user-page p {
    padding-bottom: 0.417em;

    font-size: 1.5em;
}

.user-card p {
    margin-bottom: 0.625em;
}

@media (min-width: 620px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        margin: 1.25em auto;
    }

    .main-header {
        padding: 0.625em;
        margin-right: 3.125em;
        border-right: 0.1em solid black;
        border-bottom: none;
    }

    .main {
        width: 100%;
    }

    .header-navigation ul {
        align-items: normal;
    }
}