* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #D5F8EC;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    max-width: 1200px;
    margin: 1.25em;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-page-menu {
    order: 1;
    border: 0.1em solid gray;
    padding: 1.5em;
    min-width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.start-page-link {
    font-size: 1.5em;
    text-decoration: none;
}

.login-section {
    order: 2;
    width: 300px;
}

.login-section h2 {
    margin-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-form-labels {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.login-form-labels label{
    margin-bottom: 5px;
}

.login-form-inputs input {
    width: 100%;
    margin-bottom: 5px;
    background-color: #D5F8EC;
}

.create-user{
    order: 2;
    width: 300px;
}

.create-user h2{
    margin-bottom: 10px;
}

.basic-form div{
    display: flex;
    flex-direction: column;
}

.basic-form label{
    margin-bottom: 2px;
}

.basic-form input{
    margin-bottom: 5px;
    background-color: #D5F8EC;
}

.basic-form textarea{
    margin-bottom: 5px;
    background-color: #D5F8EC;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.header-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.header-navigation ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

}

.header-navigation li {
    font-size: 1.5em;
    color: black;
    padding: 0.2em;
    margin-bottom: 0.5em;
    list-style-type: none;
    border: 0.1em solid gray;
    border-radius: 0.2em;
}

.header-navigation a {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

.header-user-label {
    font-size: 1.5em;
}

.header-userPage-link {
    padding: 0.2em;
    border: 0.1em solid gray;
    border-radius: 0.2em;
}

.user-adverts-section{

}

.user-adverts-section h2{
    margin-bottom: 10px;
}

.sort-select {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.sort-select label {
    font-size: 1em;
}

.sort-select select {
    font-size: 1em;
    background-color: #EAF8F3;
}

.advert-card {
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border: 0.1em solid gray;
}

.advert-card * {
    margin-bottom: 10px;
}

.adverts-list a {
    text-decoration: none;
}

.search-form {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    margin-bottom: 10px;

}

.search-form input {
    background-color: #D5F8EC;
    width: 100%;
}

.delete-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-msg h2{
    margin-bottom: 10px;
}

.edit-remove-btns{
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #EAF8F3;
    font-size: 1em;
}

.user-card {
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border: 0.1em solid gray;
}

.user-page p{
   font-size: 1.5em;
    padding-bottom: 10px;
}

.user-card p{
    margin-bottom: 10px;
}

@media (min-width: 620px) {
    .container {
        margin: 1.25em auto;
        flex-direction: row;
    }

    .main-header {
        padding: 10px;
        margin-right: 50px;
        border-right: 0.1em solid black;

    }

    .main {
    }

    .header-navigation ul{
        align-items: normal;
    }
}